<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>學習迷思 聊天介面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aistyle.css') }}">
</head>

<body>
    <div class="chat-container">
        <button id="vedio">前往影片區</button>
        <div id="chat-messages" class="chat-messages"></div>
        <form id="chat-form" class="chat-form" autocomplete="off">
            <input id="chat-input" type="text" placeholder="輸入訊息..." autocomplete="off" />
            <button type="submit">發送</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>